@*@model List<SharedObjects.ValueObjects.VImage>*@
@model IEnumerable<SharedObjects.ValueObjects.VImage>

@{ ViewData["Title"] = "Home Page"; }

<h4 class="text-center text-uppercase">List of employee</h4>

<p>
    <a asp-action="Add" class="btn btn-sm btn-primary rounded-0 text-uppercase"><i class="fas fa-plus-circle"></i> Add New</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Link)</th>
            <th>@Html.DisplayNameFor(model => model.Id)</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var image in Model)
        {
<tr>
    <td style="width:200px">
        <img src="~/images/@image.Link"
             class="rounded-circle"
             height="40" width="40"
             asp-append-version="true" />
      
    </td>
    <td>@image.Id</td>
</tr>}
    </tbody>
</table>

